
.file-upload-modal {
	color: white;
	display:flex;
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50%, 0);
	background-color: var(--secondary-back-color);
	width: 40%;
	height: 150px;
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.file-input {
	font-size:1.5rem;
	width: 100%;
}

.blurry {
	backdrop-filter: blur(10px);
}
