/* ------------------------------------------------ MOST GENERAL STYLING  */
* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  :focus {
    outline: none;
  }
  padding-block: 0;
  padding-inline: 0;
}

/* --------- ROOT */
:root {
  --back-color-1: rgb(7, 15, 43);
  --back-color-2: rgb(3, 2, 60);
  --back-color-3: rgb(20, 31, 103);

  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(209, 195, 63, 1);

  --main-color-1: rgb(26, 42, 128);
  --main-color-2: yellow;

  --exist: 1px white solid;

  --white: white;

  --font-big: clamp(2.7rem, 2.7vw, 3.5rem);
  --font-mid: clamp(2rem, 1.5rem + 3vw, 3.5rem);
  --font-small: clamp(1.2rem, 1.5vw, 2.5rem);
  --font-xsmall: 1rem;
  --font-1rem: 1rem;
}

.html {
  font-size: 14px;
}

.html,
.main-page-body {
  width: 100%;
  height: 100%;
}

/* ----- SCROLLBAR STYLING */

::-webkit-scrollbar {
  display: block;
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(from var(--text-color-2) r g b / 0.9);
  border-right: none;
  border-left: none;
  border-radius: 1rem;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 2.25rem;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 2.25rem;
}

/* ------ LINK STYLING  */

.link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------------------------------------------------------ HEADER STYLING  */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ----------------------------------------------------- NAV BAR STYLING */

.navbar {
  display: flex;
  justify-content: center;
  gap: 4%;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: var(--back-color-2);
  height: 6vh;

  .link {
    color: var(--text-color-2);
    background-color: var(--back-color-3);
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    font-weight: 700;
  }

  .link:hover {
    filter: brightness(1.4);
  }
}

/* ------------------------------------------------------------- BODY STYLING */

.main-page-body {
  background-color: var(--back-color-1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------------------------------------ OPTION STYLING */

.option {
  cursor: pointer;
  background-color: var(--main-color-1);
  color: var(--text-color-1);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 7rem;
  width: 80%;
  flex-shrink: 0;
  padding: 0.75rem;
}

.option:hover {
  filter: brightness(1.2);
}

.option:active {
  filter: brightness(1.5);
}
