/* ---------------------------------GENERAL STYLE------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --background-color: rgb(7, 15, 43);
  --secondary-back-color: rgb(3, 2, 60);
  --third-back-color: rgb(20, 31, 103);

  --text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(209, 195, 63);

  --main-color: rgb(26, 42, 128);
  --secondary-color: yellow;
  --exist: 1px white solid;
  --base-gradient: linear-gradient(
    157deg,
    rgba(0, 0, 0, 1) 1%,
    rgba(102, 102, 102, 1) 56%,
    rgba(224, 200, 200, 1) 100%
  );
}

.html {
  font-size: 14px;
}

.html,
.main-page-body {
  width: 100%;
  height: 100%;
}

a:-webkit-any-link {
  color: unset;
}
/* ----------------------------------NAVIGAITON ----------------------------------- */
.navbar {
  display: flex;
  justify-content: center;
  gap: 4%;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: var(--secondary-back-color);
  height: 6vh;
}

.navbar a {
  color: var(--secondary-text-color);
  background-color: var(--third-back-color);
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------LINKS STYLING ---------------------------------- */

.link {
  text-decoration: none;
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.link:active {
  text-decoration: none;
}

/* ---------------------------------HEADER------------------------------------------------------ */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading {
  color: var(--text-color);
  margin: clamp(1.5rem, 2vw, 4rem) 0 clamp(1.5rem, 2.5vw, 4rem) 0;
  font-size: clamp(2.7rem, 2.7vw, 3.5rem);
  font-weight: 800;
}

/* -------------------------------------------MAIN CONTAINERS SYTLING----------------------------------------------- */
.main-page-body {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container {
  padding: 1.5rem 0;
  border-radius: 3rem;
  width: min(50rem, 85%);
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow-y: auto;
  background-color: var(--secondary-back-color);
  margin-bottom: 2vh;
}

/* --------------------------------------------------  SCROLL STYLING ----------------------------------------- */
.main-container::-webkit-scrollbar {
  display: block;
  width: 0.75rem;
}
.main-container::-webkit-scrollbar-track {
  background: transparent;
}

.main-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.442);
  border-right: none;
  border-left: none;
  border-radius: 1rem;
}

.main-container::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 2.25rem;
}

.main-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 2.25rem;
}

/* --------------------------------------------------QUIZZ OPTIONS-------------------------------- */
.option {
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 1rem;
  height: 7rem;
  width: 80%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  transition-duration: 80ms ease;
  padding: 0.75rem;
}

.option:hover {
  transform: scale(1.03);
}

.option:active {
  filter: brightness(1.4);
  font-size: 2.15rem;
}

.quizz-info-tab {
  background-color: var(--third-back-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-right: 5%;
  justify-content: space-evenly;
  height: 100%;
  padding: 0.5rem 0.25rem;
}

.quizz-info {
  color: var(--secondary-text-color);
  font-size: 65%;
  font-size: min(1.25rem, 2vw);
  font-weight: 600;
  display: flex;
}

.quizz-name {
  font-size: clamp(2rem, 1.5rem + 2vw, 3.3rem);
  color: var(--text-color);
  width: 40%;
  display: flex;
  justify-content: center;
  margin-right: 30%;
  align-items: center;
  font-weight: 700;
}
