/* ---------------------------------HEADER------------------------------------------------------ */

.heading {
  color: var(--text-color-1);
  margin: clamp(1.5rem, 2vw, 4rem) 0 clamp(1.5rem, 2.5vw, 4rem) 0;
  font-size: clamp(2.7rem, 5vw, 4.5rem);
  font-weight: 800;
}

/* -------------------------------------MAIN PAGE STYLING-------------------------------------------- */

.main-container {
  border-radius: 3rem;
  width: min(55rem, 85%);
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--back-color-2);
}

.option {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  .link {
    color: var(--white);
  }
}
