/* ---------------------------------HEADER------------------------------------------------------ */
.heading {
  color: var(--text-color-1);
  margin: clamp(1.5rem, 2vw, 4rem) 0 clamp(1.5rem, 2.5vw, 4rem) 0;
  font-size: var(--font-big);
  font-weight: 800;
}
/* -------------------------------------------MAIN CONTAINERS SYTLING----------------------------------------------- */
.main-container {
  padding: 1.5rem 0;
  border-radius: 3rem;
  width: min(50rem, 95%);
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  overflow-y: auto;
  background-color: var(--back-color-2);
  margin-bottom: 2vh;
}

/* --------------------------------------------------QUIZZ OPTIONS-------------------------------- */

.option {
  justify-content: start;
  width: min(40rem, 95%);
}

.quizz-info-tab {
  background-color: var(--back-color-3);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: max(25%, 8rem);
  margin-right: 5%;
  height: 100%;
  padding: 0.5rem 0.25rem;
}

.quizz-info {
  color: var(--text-color-2);
  font-size: var(--font-xsmall);
  font-weight: 600;
  display: flex;
}

.quizz-name {
  font-size: var(--font-mid);
  color: var(--text-color-1);
  width: max(40%, 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
